<?xml version="1.0"?>
<launch>
    <!-- 参数设置 -->
    <arg name="bag_file" default="$(find sgloop_ros)/../../../data/ScanNet/newdata.bag"/>
    <arg name="config_file" default="$(find sgloop_ros)/../../../config/your_camera.yaml"/>
    <arg name="output_folder" default="/tmp/online_mapping_output"/>
    <arg name="publish_rate" default="10.0"/>
    <arg name="use_bag_timestamps" default="false"/>
    <arg name="local_agent" default="agent_0"/>
    <arg name="frame_gap" default="1"/>
    <arg name="max_frames" default="5000"/>
    <arg name="debug" default="false"/>
    
    <!-- Bag发布器 - Python版本 -->
    <node name="bag_publisher" pkg="sgloop_ros" type="bag_publisher.py" output="screen">
        <param name="bag_file" value="$(arg bag_file)"/>
        <param name="publish_rate" value="$(arg publish_rate)"/>
        <param name="use_bag_timestamps" value="$(arg use_bag_timestamps)"/>
    </node>
    
    <!-- 在线建图节点 -->
    <node name="online_mapping_node" pkg="sgloop_ros" type="OnlineMappingNode" output="screen">
        <param name="cfg_file" value="$(arg config_file)"/>
        <param name="output_folder" value="$(arg output_folder)"/>
        <param name="local_agent" value="$(arg local_agent)"/>
        <param name="frame_gap" value="$(arg frame_gap)"/>
        <param name="max_frames" value="$(arg max_frames)"/>
        <param name="debug" value="$(arg debug)"/>
    </node>
    
    <!-- RViz可视化 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sgloop_ros)/rviz/online_mapping.rviz" output="screen" required="false"/>
    
</launch>
